{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark  pl-5 pr-5" style="background-color: #b78ac5;">
    <a class="navbar-brand mb-0 h1 text-black" href="{% url 'dashboard' %}" style="font-family: 'Redressed', cursive; font-size:32px">HooD</a>
  <a class="nav-item nav-link active text-black" href="{% url 'dashboard' %}"></a>
    {% if user.is_authenticated %}
    <ul class="list-unstyled components mr-2 ml-2">
        <li class="mb-4">
        </li>
        <hr>
        <li class="mb-4">
            <a href="{% url 'profile' user.username  %}">
                <i class="fas fa-user"></i>&nbsp;
                &nbsp; My Profile
            </a>
        </li>
        <hr>
        {% if user.profile.hood %}
        <li class="mb-4">
            <a href="{% url 'hood' user.profile.hood.id %}">
                <i class="fas fa-door-open"></i>&nbsp;
                &nbsp; My Hood
            </a>
        </li>
        <hr>
        {%else%}
        {%endif%}
        <li class="mb-4">
            <a href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i>&nbsp;
                &nbsp; Logout
            </a>
        </li>
        <hr>
    </ul>
    <form class="navbar-form mr-5" role="search" action="{% url 'search' %}">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Business" name="business">
          <div class="input-group-btn">
            <button class="btn text-white" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
  
      </form>
    {% endif%}
</nav>
